.card1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card1 .tokenSymbol{
    border: solid 2px;
    padding: 2px 7px 2px 7px ;
    border-radius: 5px;
}

.add{
    font-size: 12px;
    margin-top: -15px;
}